.game-play{
    display: flex;
}

.game-play #myBoard{
    display: inline-block;
    margin-right: 20px;
}

.game-play #chess-log {
    display: flex;
}

.game-play #chess-log #white{
    padding: 0 20;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.game-play #chess-log #black{
    padding: 0 20;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.game-play #chess-log #white ul, 
.game-play #chess-log #black ul{
    padding: 0
}

.game-play #chess-log #white li, 
.game-play #chess-log #black li {
    padding: 5 0
}

#select-side{
    display: flex;
}

#select-side > div{
    padding: 10px;
}